<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/ideaporject/allure-testng">
        <classes>
            <class name="test.AppTest">
                <methods>
                    <include name="testAdd1"/>
                    <include name="testAdd"/>
                    <include name="testsub1"/>
                    <include name="testsub"/>
                    <include name="testmul1"/>
                    <include name="testmul"/>
                    <include name="testdlv1"/>
                    <include name="testdlv"/>
                    <include name="testDlv2"/>
                </methods>
            </class>
            <class name="test.HttpTest">
                <methods>
                    <include name="testGet"/>
                    <include name="testPost"/>
                </methods>
            </class>
            <class name="test.StringTest">
                <methods>
                    <include name="testString"/>
                    <include name="testStringUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>